{% extends 'polls/base.html' %}
{% block contenido %}
<body>
    {% if user.is_authenticated %}
        <div class="alert alert-info alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Username: <strong>{{ user.username }} </strong>
        </div>
        <center>
            <h1> Charts </h1>
            <div class="container">
                <select class="custom-select mr-sm-2" id="select_qstn">
                  <option selected>Choose...</option>
                </select>            
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
                <input type="hidden" id="qstn_json" value="{{ json }}">
        </center>
        {% if messages %}
            <div class="container">
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong> Error </strong> {{ message }}
                    </div>
                {% endif %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong> Success! </strong> {{ message }}
                    </div>
                {% endif %}                    
            {% endfor %}
            </div>
        {% endif %}            
    {% else %}
        <div class="alert alert-info alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Welcome new user! </strong>. Please <a href="{% url 'polls:login' %}">log in. </a>
        </div>  
    {% endif %}    
    
    <script type="text/javascript">
        $(document).ready(function(){
            
            var ctx = $('#myChart');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [],
                    datasets: []
                    },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            }); 
            
            var qstn_json = $("#qstn_json").val();
            var questions = JSON.parse(qstn_json);
            
            $.each(questions, function(key,question){
               $("#select_qstn").append(new Option(question.question_text,question.question_text)); 
            });
            
            $("#select_qstn").on("change", function(){
                selected_question = this.value;
                if(myChart.data.datasets.length !== 0){
                    myChart.data.datasets.pop();
                    $.each(myChart.data.labels,function() {
                        myChart.data.labels.pop();
                    });
                }
                    
                $.each(questions,function(key, question) {
                    if(question.question_text == selected_question){
                        var newDataSet = {
                            label: [question.question_text],
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            borderColor: 'rgba(255,99,132,1)',
                            borderWidth: 1,
                            data: [],
                        }                          
                        $.each(question.choiceList,function(key, choice) {
                            myChart.data.labels.push(choice.choice_text);
                            newDataSet.data.push(choice.votes);                            
                        });
                        myChart.data.datasets.push(newDataSet);
                    }
                })
            });
            

        });
    </script>    
</body>
{% endblock %}