{% extends 'polls/base.html' %}
{% block contenido %}
    {% if user.is_authenticated %}
        {% if perms.polls.add_question %}
            <div class="alert alert-info alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Username: <strong>{{ user.username }} </strong>
            </div>
            <center>
                <h1> Create a question </h1>
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-primary" type="submit" value="Update">
                        <a href="{% url 'polls:index' %}" >
                            <input class="btn btn-info" type="button" value="Cancel">
                        </a>                           
                    </form>
            </center>
        {% else %}
            <div class="alert alert-warning alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Warning!</strong> You don't have access to create questions.
            </div>
        {% endif %}
    {% else %}
        <div class="alert alert-info alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Welcome new user! </strong>. Please <a href="{% url 'polls:login' %}">log in. </a>
        </div>    
    {% endif %}   
{% endblock %}    